.logo {
      width: 5rem;
}

.admin__header {
      background-color: rgb(232, 232, 232);
      &__account {
            span {
                  right: 30px;
                  position: absolute;
                  top: 30px;
            }
      }

      &__search {
            margin-top: 30px;
      }

       
}
