.content {
      width: 100%;
      position: relative;
      display: block;
      float: left;
      clear: both;
      margin-top: 20px;

      a {
            text-decoration: none;
            color: #333;
      }

      .wrapper {
            margin: 0 auto;
            width: 1140px;
            position: relative;
            display: block;
            clear: both;
      }
}
