* {
      margin: 0;
      padding: 0;
      border: 0;
      box-sizing: border-box;
      font-size: 100;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
}

ol,
ul {
      list-style: none;
}

a {
      text-decoration: none;
}

.container {
      padding-top: 30px;
      width: 1000px;
      margin: 0 auto;
}

