.sc-left {
      width: 25%;
      padding-right: 20px px;
      clear: left;
      float: left;
      margin-top: 20px;

      .menu-category {
            margin-bottom: 15px;

            h2 {
                  text-transform: uppercase;
                  font-size: 15px;
                  font-weight: 600;
                  margin-bottom: 10px;
            }
            div {
                  width: 100%;
                  line-height: 20px;
                  padding-bottom: 7px;
                  font-size: 14px;

                  input {
                        display: inline-block;
                        cursor: pointer;
                  }

                  label {
                        padding-left: 10px;
                        cursor: pointer;
                  }
            }
      }
}

.sc-right {
      float: right;
      clear: right;
      width: 75%;
}
